{% extends "to_do/base_home.html" %}


{% block alert %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor%}
  {% endif %}
{% endblock alert %}

{% block header%}
  <span class="welcome">Welcome to your profile <a href = "{% url 'profile' %} " class = "username">{{ user.username }},</a></span>
{% endblock header%}

{% block mid-panel %}
  <div class="sort">
    <form method="POST" action="reset-stats/" class="reset">
      {% csrf_token %}
      
      <button class = "button" type="submit">Reset</button>
    </form>
    
    <form method="POST" action="refresh-stats/" class="reset">
      {% csrf_token %}
      
      <button class = "button" type="submit">Refresh</button>
    </form>


  </div>
{% endblock mid-panel %}


{% block tasks-to-do %}
    <span class="incomplete">
      Your stats are here below
    </span>
{% endblock tasks-to-do %}


{% block profile%}
    <div class = "tasks-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Stat</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>    
          <tr>
            <th scope="row">1</th>
            <td>Tasks finished (total)</td>
            <td>{{profile.total_tasks_finished}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Tasks finished before deadline</td>
            <td>{{profile.finished_before_deadline}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Tasks finished after deadline</td>
            <td>{{profile.finished_after_deadline}}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Rating</td>
            <td>{{profile.rating}}%</td>
          </tr>
        </tbody>
      </table>
        
    </div>
{% endblock profile%}