* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.app {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 10px;
}

.welcome {
  font-size: 36px;
}

.welcome a {
  color: black;
  text-decoration: none;
}

.incomplete {
  font-size: 24px;
}

.logout {
  text-decoration: none;
  color: black;
}

/* -------------------------------- */
.search-add {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 20px 10px;
}

/* -------------------------------- */
.struct {
  display: flex;
  gap: 41px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.task {
  border: 1px solid black;
}
