* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.top-bar {
  background-color: white;
  width: 400px;
  height: 100px;
}

.struct {
  display: flex;
  gap: 50px;
}

.left-box {
  background-color: black;
  width: 200px;
  height: 100px;
}

.right-box {
  background-color: yellow;
  width: 200px;
  height: 100px;
}
