* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.app {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 37px;
}

.top-bar {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left-part {
  display: flex;
  align-items: center;
  gap: 30px;
}

.app-name {
  font-size: 28px;
  color: #2d3748;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.dashboard {
  color: #868f96;
  font-size: 14px;
  font-weight: 600;
}

.right-part {
  display: flex;
  align-items: center;
}

.hrefs {
  margin-left: 40px;
}

.struct {
  display: flex;
  gap: 41px;
  height: 750px;
}

.left-box {
  background-color: white;
  border-radius: 25px;
  flex: 0.3;
}

.right-box {
  background-color: white;
  border-radius: 25px;
  flex: 1;
  padding: 20px 20px 0px 20px;
  overflow-y: scroll;
}
