{%extends "to_do/base_home.html"%} 

{% block add_task%}
  <form method="POST" class="add-task-form">
    {% csrf_token %}

    <div class="inputs-container">
      <div class="inputs">
        <label for="id_title">Title</label>
        {{form.title}}
      </div>

      <div class="inputs">
        <label for="id_content">Content</label>
        {{form.content}}
      </div>
    </div>


    <div class="checkboxes">
      <span>Task finished</span>
      <input type="checkbox" class="checkbox">
    </div>

    {% if name == 'update-task' %}
      <div class="buttons-container">
        <button class="add-task-button" type="submit">Update task</button>
      </div>
    {% else %}
      <div class="buttons-container">
        <button class="add-task-button" type="submit">Add task</button>
      </div>
    {% endif %}



  </form>
{% endblock add_task%} 