{%extends "to_do/base_home.html"%} 

{% block header%}
  <span class="welcome"><a href = "{% url 'profile' %} " class = "username">{{ user.username }},</a></span>
{% endblock header%}


{% block tasks-to-do %}
  {% if name == 'update-task' %}
    <span class="incomplete">
      You are about to update this Task!
    </span>
  {% else %}
    <span class="incomplete">
      You are about to add a new Task!
    </span>
  {% endif %}
{% endblock tasks-to-do %}



{% block add_task%}
  <div class = "tasks-container">
  <form method="POST" class="add-task-form">
    {% csrf_token %}

    <div class="inputs-container">
      <div class="inputs">
        <label for="id_title">Title</label>
        {{form.title}}   
      </div>

      <div class="inputs">
        <label for="id_content">Content</label>
        {{form.content}}
      </div>
    </div>

    

    <div class="checkboxes">
      <div class="finished">
        <span>Task finished</span>
        {{form.finished}}
      </div>
      
      <div class="deadline">
        <span>Deadline</span>
        {{form.deadline}}
      </div>

      <div class="priority">
        <span>Priority</span>
        {{form.priority}}
      </div>

    </div>

    {% if name == 'update-task' %}
      <div class="buttons-container">
        <button class="add-task-button" type="submit">Update task</button>
      </div>
    {% else %}
      <div class="buttons-container">
        <button class="add-task-button" type="submit">Add task</button>
      </div>
    {% endif %}



  </form>
</div>
{% endblock add_task%} 