{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type = "text/css" href="{% static 'to_do/auth.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

    <main>
        {%block login_box%}
            <div class = "login-box">
        {%endblock login_box%}
    
            <div class = "header">
                {% block header %}
                    
                {% endblock header %}
            </div>
                
            <div class = "form">
                <div class = "inputs">
                    <div class = "input-username">
                        <span>Username</span>
                        <input
                        id="username"
                        type="text"
                        class="input"
                        />
                    </div>
                    
                    {%block email%}
                        
                    {%endblock email%}

                    <div class = "input-password">
                        <span>Password</span>
                        <input
                        id="password"
                        type="password"
                        class="input"
                        />
                    </div>
                    
                    {%block confirm_password%}

                    {%endblock confirm_password%}

                </div>
                
                {%block remember%}
                    
                {%endblock remember%}

                <div class = "buttons">
                    {%block buttons%}
                        
                    {%endblock buttons%}
                    <button onclick = "" type = "button" id = "google"><img src = "https://cdn.icon-icons.com/icons2/729/PNG/128/google_icon-icons.com_62736.png" width = "20" height = "20">Or sign-in with google</button>    
                </div>
                
                <div class = "register-now">
                    {%block register_now%}
                    
                    {%endblock register_now%}
                </div>
            
            </div>
            
            <!-- This will be replaced with an alert soon -->
            <div>
                <p id = "information">
                
                </p>
            </div>   
        </div>
    </main>
    <!-- <script src = "./scripts/login.js"></script>  -->
</body>
</html>