{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'to_do/home.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Tasker</title>
</head>

<body>
    <main>
        <div class = "app">
            <div class = "top-bar">
                <div class="left-part">
                    <span class = "app-name">Tasker</span>
                    <a class = "dashboard" href = "{% url 'to_do-home' %}">DASHBOARD</a>
                </div>
            
                <div class="right-part">
                    <svg class = "loupe" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.5 14.8095C16.0396 13.3514 17 11.2879 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17C11.1304 17 13.0663 16.1672 14.5 14.8095ZM14.5 14.8095L20 20" stroke="#ACBAC3" stroke-width="2"/>
                    </svg>
            
                    <svg class = "ring" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 13L18 9C18 4.58172 14.4183 1 10 1C5.58175 1 2.00002 4.58172 2.00002 9L2 13L1 14V17H7.55001C7.78164 18.1411 8.79052 19 10 19C11.2095 19 12.2184 18.1411 12.45 17H19V14L18 13Z" stroke="#ACBAC3" stroke-width="2" stroke-linejoin="round"/>
                        
                    </svg>
                
                    <div class="hrefs">
                        <a href = "{% url 'profile' %} " class = "username">{{ user.username }}</span>
                        <a href="{% url 'logout' %}" class = "logout">Log out</a>
                    </div>
                </div>
            </div>

            <div class = "struct">
                <div class = "left-box">
                    {% block add_task%}
                    {% endblock add_task%}
                </div>
                
                <div class = "right-box">
                    {% block tasks %}
                    {% endblock tasks %}
                    
                    <!-- temporary! -->
                    {%block profile%}
                    {%endblock profile%}
                </div>
            </div>
        </div>
    </main>

    <!-- <script src = "./scripts/tasks.js"></script>
    <script src = "./scripts/logout.js"></script>  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>