{%extends "to_do/base_home.html"%} 

{% block header%}
  <span class="welcome">Remember <a href = "{% url 'profile' %} " class = "username">{{ user.username }},</a></span>
{% endblock header%}

{% block tasks-to-do %}
  <span class="incomplete">
    Deleting a task is a very serious thing!
  </span>
{% endblock tasks-to-do %}

{% block delete_task %}
<div class = "tasks-container">
    <form method="POST" class="delete-task-form">
        {% csrf_token %}

        <div class="alert alert-danger" role="alert">
            Are you sure you want to delete this task?
        </div>
        
        <button type="submit" class="btn btn-danger">DELETE</button>
    </form>
</div>
{% endblock delete_task %} 