{%extends "to_do/base_home.html"%}

{%block tasks%}
    {% for task in tasks%}
        <article class="media content-section">
            <div class = "media-body">
                <div class = "header">
                    <small class="text-muted">{{task.date_posted}}</small>
                    <h5><a class="article-title" href="#">{{ task.title }}</a></h5>
                </div>
                <p class="article-content">{{task.content}}</p>
            </div>
        </article>
    {%endfor%}
{%endblock tasks%}