{%extends "to_do/base_home.html"%} 

{% block search-add %}
  <div class="search-add">
    <div class="search">
        <input type="text" class = "input">
        <button class = "button-search">Search</button>
    </div>
    <div class="add">
        <a href = "{% url 'add-task' %}" class = "add-task">+</a>
    </div>
  </div>
{% endblock search-add %}


{%block tasks%} 
  {% for task in tasks %}
    <div class="task">
      <div class="content">
        {% if task.finished %}
          <span class="dot" style="background-color: #bbb"></span>
          <a href="{% url 'update-task' task.id %}" class="task-title"><s>{{ task.title }}</s></a>
        {% else %}
          <span class="dot" style="background-color:green"></span>
          <a href="{% url 'update-task' task.id %}" class="task-title">{{ task.title }}</a>
        {% endif %}
        
      </div>

      <a href="{% url 'delete-task' task.id %}" class="delete-task">X</a>
      
    </div>
  {%endfor%} 
{%endblock tasks%}

