{% extends "to_do/base_auth.html" %}

{%block login_box%}
    <div class = "login-box" style="height:785px;">
{%endblock login_box%}


{% block header %}
    <span id = "welcome-back">First time in Tasker?</span>
    <span id = "login-header">Create your account</span>
{% endblock header %}

{%block email%}
    <div class = "input-email">
        <span>Email</span>
        <input
        id="email"
        type="text"
        class="input"
        />
    </div>
{%endblock email%}

{%block confirm_password%}
    <div class = "input-confirm_password">
        <span>Confirm password</span>
        <input
        id="confirm-password"
        type="password"
        class="input"
        />
    </div>
{%endblock confirm_password%}

{%block buttons%}
    <button onclick = "submit()" type = "button" id = "login">Register now</button>
{%endblock buttons%}

{%block register_now%}
    <p>Do you have an account? <a href = "/login"> Log in now</a></p>
{%endblock register_now%}